
body {
    font: 20px Arial, sans-serif;
    background-color: #dde9e1;
}

.navbar{
    background-color: rgb(129, 192, 190);
}

.quem-somos {
    background-color:  lightblue;
    color: darkcyan;
}

.text-quemsomos {
    color:  rgb(8, 88, 86);
    text-shadow: 2px 2px 4px #000000;
}

.margin {
    padding-bottom: 30px;
    padding-top: 10px;
}

#linha-vertical {
    height: 5px;
    background-color: rgb(173, 236, 233);
}

.parceiros {
    background-color: rgb(157, 231, 229);
    color: darkcyan;
}

.text-parceiro {
    color: rgb(8, 88, 86);
    text-shadow: 2px 2px 4px #000000;
}

.servicos {
    background-color:  lightblue;
}

.text-servicos {
    color: rgb(8, 88, 86);
    text-shadow: 2px 2px 4px #000000;
}



.imgservicos {
    margin: 15px;
    border-radius: 30px;
}

.ar {
    max-width: 400px;
}

h4 {
    color: rgb(39, 104, 9);
    text-shadow: 2px 2px 4px #000000;
}